#1 #CircularBar__bar {
    -unity-background-image-tint-color: rgb(73, 217, 185);
}

#1 #CircularBar__bg {
    -unity-background-image-tint-color: rgb(89, 89, 89);
    background-image: url("project://database/Assets/CircularBar/CircularBar__bg.png?fileID=2800000&guid=3eaa2fcf8a9767444a328ad875665c31&type=3#CircularBar__bg");
}

#1 #Text {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px rgb(13, 46, 25);
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    -unity-text-outline-width: 1px;
}

#2 #CircularBar__bar {
    -unity-background-image-tint-color: rgb(144, 109, 195);
}

#2 #CircularBar__bg {
    -unity-background-image-tint-color: rgb(64, 59, 94);
    background-image: url("project://database/Assets/CircularBar/CircularBar__bg.png?fileID=2800000&guid=3eaa2fcf8a9767444a328ad875665c31&type=3#CircularBar__bg");
}

#3 #CircularBar__bar {
    -unity-background-image-tint-color: rgb(229, 150, 42);
}

#3 #CircularBar__bg {
    background-image: url("project://database/Assets/CircularBar/CircularBar__bg.png?fileID=2800000&guid=3eaa2fcf8a9767444a328ad875665c31&type=3#CircularBar__bg");
    -unity-background-image-tint-color: rgb(123, 123, 123);
}

#3 #Text {
    display: none;
}

Label {
    font-size: 42px;
}

.container {
    align-items: center;
    padding-bottom: 22px;
}
